<section class="ft-sc ft-sc-banner px-5 py-8 md:py-10 lg:py-12 text-gray-600">
  <div class="container mx-auto">
    <div class="flex items-center flex-wrap">
      <div class="w-full lg:w-1/2 text-center lg:text-left">
        <p class="text-lg">Royal Ranch</p>
        <h1 class="text-3xl sm:text-4xl lg:text-5xl text-gray-800 font-extrabold">Farm fresh beef</h1>
        <p class="text-xl md:text-2xl leading-6">100% USA </p>
        <h4 class="text-xl mt-4 text-gray-800">Animal ID: <%= params[:id] %></h4>
        <p class="text-lg mt-4">
          <button type="button"
            class="text-primary-base"
            data-controller="openmodal"
            data-openmodal-selector=".vimeo-modal"
            data-action="click->openmodal#open">
              <i class="far fa-play-circle"></i> Learn about FarmTracer
          </button>
        </p>
        <h5 class="mt-4 text-lg">About the Farm</h5>
        <p class="lg:text-lg">Royal Ranch is a family farm in Central Washington. Central Washington’s mild climate is ideal for raising cattle and many other crops.</p>
        <p class="mt-6">
          <a href=" https://www.royalranch.com" class="text-primary-base">www.royalranch.com</a>
        </p>
      </div>
      <div class="w-full lg:w-1/2 text-center">
        <div class="relative inline-block">
          <%= image_tag('banner-img.png') %>
          <%= image_tag('badge.svg', alt: '', class: "absolute bottom-0 right-0 w-16 sm:w-24 md:w-auto")  %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ft-sc ft-sc-about px-5 py-8 md:py-10 lg:py-16 bg-addition">
  <div class="container mx-auto">
    <%# Life %>
    <div class="flex flex-wrap"
      data-controller="content-loader"
      data-content-loader-url="<%= animal_life_api_path(params[:id]) %>">
      <div class="w-full sm:w-1/2 lg:w-1/4 pb-4 mb-4 border-solid border-b sm:border-l sm:border-b-0 border-gray-550 border-opacity-50 sm:px-5">
        <h4 class="text-gray-800 text-xl mb-2">Origin</h4>
        <p class="mb-2 text-center"><i class="fas fa-circle-notch fa-spin"></i></p>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/4 pb-4 mb-4 border-solid border-b sm:border-l sm:border-b-0 border-gray-550 border-opacity-50 sm:px-5">
        <h4 class="text-gray-800 text-xl mb-2">Growth</h4>
        <p class="mb-2 text-center"><i class="fas fa-circle-notch fa-spin"></i></p>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/4 pb-4 mb-4 border-solid border-b sm:border-l sm:border-b-0 border-gray-550 border-opacity-50 sm:px-5">
        <h4 class="text-gray-800 text-xl mb-2">Sire & Dam</h4>
        <p class="mb-2 text-center"><i class="fas fa-circle-notch fa-spin"></i></p>
      </div>
      <div class="w-full sm:w-1/2 lg:w-1/4 pb-4 mb-4 border-solid border-b sm:border-l sm:border-b-0 border-gray-550 border-opacity-50 sm:px-5">
        <h4 class="text-gray-800 text-xl mb-2">Conversion</h4>
        <p class="mb-2 text-center"><i class="fas fa-circle-notch fa-spin"></i></p>
      </div>
    </div>

    <%# Diet %>
    <div class="mt-16 text-center">
      <h2 class="text-gray-800 font-extrabold text-3xl md:text-4xl">Diet</h2>
      <p>FarmTracer farms track all feed consumed by their animals to ensure a nutritious balanced diet.</p>
      <p>Vegetarian fed.</p>
      <ul class="flex flex-wrap mt-12 justify-center"
        data-controller="content-loader"
        data-content-loader-url="<%= animal_diet_api_path(params[:id]) %>">
        <li class="w-full sm:w-1/2 xl:w-1/5 mb-8">
          <div class="circle-progress-box p-4">
            <div class="circle-progress relative max-w-full w-40 mx-auto">
              <svg class="w-full text-primary-base transform -rotate-90" viewbox="0 0 140 140">
                <linearGradient id="circle-gradient-0" x1="0%" y1="0%" x2="0%" y2="100%">
                  <stop offset="0%" stop-color="#054A29" />
                  <stop offset="100%" stop-color="#2A9134" />
                </linearGradient>
                <circle cx="70" cy="70" r="64" stroke="#DEDACA" stroke-width="10" fill="none">
                </circle>
                <circle stroke="url(#circle-gradient-0)" cx="70" cy="70" r="64"
                  stroke-width="10" fill="none" stroke-linecap="round" stroke-dasharray="400"
                  stroke-dashoffset="400">
                </circle>
              </svg>
              <h5 class="absolute w-full h-full flex items-center justify-center text-2xl z-10 top-0 left-0 text-gray-800">
                <i class="fas fa-circle-notch fa-spin"></i>
              </h5>
            </div>
            <h4 class="mt-4 text-gray-800">Grass & Local Forages</h4>
          </div>
        </li>
        <li class="w-full sm:w-1/2 xl:w-1/5 mb-8">
          <div class="circle-progress-box p-4">
            <div class="circle-progress relative max-w-full w-40 mx-auto">
              <svg class="w-full text-primary-base transform -rotate-90" viewbox="0 0 140 140">
                <linearGradient id="circle-gradient-1" x1="0%" y1="0%" x2="0%" y2="100%">
                  <stop offset="0%" stop-color="#054A29" />
                  <stop offset="100%" stop-color="#2A9134" />
                </linearGradient>
                <circle cx="70" cy="70" r="64" stroke="#DEDACA" stroke-width="10" fill="none">
                </circle>
                <circle stroke="url(#circle-gradient-1)" cx="70" cy="70" r="64"
                  stroke-width="10" fill="none" stroke-linecap="round" stroke-dasharray="400"
                  stroke-dashoffset="400">
                </circle>
              </svg>
              <h5 class="absolute w-full h-full flex items-center justify-center text-2xl z-10 top-0 left-0 text-gray-800">
                <i class="fas fa-circle-notch fa-spin"></i>
              </h5>
            </div>
            <h4 class="mt-4 text-gray-800">Recycled Byproducts</h4>
          </div>
        </li>
        <li class="w-full sm:w-1/2 xl:w-1/5 mb-8">
          <div class="circle-progress-box p-4">
            <div class="circle-progress relative max-w-full w-40 mx-auto">
              <svg class="w-full text-primary-base transform -rotate-90" viewbox="0 0 140 140">
                <linearGradient id="circle-gradient-2" x1="0%" y1="0%" x2="0%" y2="100%">
                  <stop offset="0%" stop-color="#054A29" />
                  <stop offset="100%" stop-color="#2A9134" />
                </linearGradient>
                <circle cx="70" cy="70" r="64" stroke="#DEDACA" stroke-width="10" fill="none">
                </circle>
                <circle stroke="url(#circle-gradient-2)" cx="70" cy="70" r="64"
                  stroke-width="10" fill="none" stroke-linecap="round" stroke-dasharray="400"
                  stroke-dashoffset="400">
                </circle>
              </svg>
              <h5 class="absolute w-full h-full flex items-center justify-center text-2xl z-10 top-0 left-0 text-gray-800">
                <i class="fas fa-circle-notch fa-spin"></i>
              </h5>
            </div>
            <h4 class="mt-4 text-gray-800">Corn</h4>
          </div>
        </li>
        <li class="w-full sm:w-1/2 xl:w-1/5 mb-8">
          <div class="circle-progress-box p-4">
            <div class="circle-progress relative max-w-full w-40 mx-auto">
              <svg class="w-full text-primary-base transform -rotate-90" viewbox="0 0 140 140">
                <linearGradient id="circle-gradient-3" x1="0%" y1="0%" x2="0%" y2="100%">
                  <stop offset="0%" stop-color="#054A29" />
                  <stop offset="100%" stop-color="#2A9134" />
                </linearGradient>
                <circle cx="70" cy="70" r="64" stroke="#DEDACA" stroke-width="10" fill="none">
                </circle>
                <circle stroke="url(#circle-gradient-3)" cx="70" cy="70" r="64"
                  stroke-width="10" fill="none" stroke-linecap="round" stroke-dasharray="400"
                  stroke-dashoffset="400">
                </circle>
              </svg>
              <h5 class="absolute w-full h-full flex items-center justify-center text-2xl z-10 top-0 left-0 text-gray-800">
                <i class="fas fa-circle-notch fa-spin"></i>
              </h5>
            </div>
            <h4 class="mt-4 text-gray-800">Concentrates & Mineral</h4>
          </div>
        </li>
        <li class="w-full sm:w-1/2 xl:w-1/5 mb-8">
          <div class="circle-progress-box p-4">
            <div class="circle-progress relative max-w-full w-40 mx-auto">
              <svg class="w-full text-primary-base transform -rotate-90" viewbox="0 0 140 140">
                <linearGradient id="circle-gradient-4" x1="0%" y1="0%" x2="0%" y2="100%">
                  <stop offset="0%" stop-color="#054A29" />
                  <stop offset="100%" stop-color="#2A9134" />
                </linearGradient>
                <circle cx="70" cy="70" r="64" stroke="#DEDACA" stroke-width="10" fill="none">
                </circle>
                <circle stroke="url(#circle-gradient-4)" cx="70" cy="70" r="64"
                  stroke-width="10" fill="none" stroke-linecap="round" stroke-dasharray="400"
                  stroke-dashoffset="400">
                </circle>
              </svg>
              <h5 class="absolute w-full h-full flex items-center justify-center text-2xl z-10 top-0 left-0 text-gray-800">
                <i class="fas fa-circle-notch fa-spin"></i>
              </h5>
            </div>
            <h4 class="mt-4 text-gray-800">Calves Milk</h4>
          </div>
        </li>
      </ul>
    </div>
    <div class="mt-16 lg:mt-20 text-center">
      <h2 class="text-gray-800 font-extrabold text-3xl md:text-4xl">Carbon Footprint </h2>
      <p>Measured in kg of CO2-equivalent per kg</p>
      <div class="mt-12 mb-3">
        <!-- <#%= image_tag('chart-img.png', alt: '', class: "mx-auto")  %> -->
        <div class="row user_teams" style="width:95%;margin-top:20px;padding:20px;margin-left:10px;margin-right:0px;">
        <div class="row">

<li class="w-full xl:w-1/5 mb-8" id="co2emitted">
  <div class="circle-progress-box p-4">
    <div class="circle-progress relative max-w-full w-40 mx-auto">
      <%if @animal.Co2Emitted.round(3) <= 3%>
      <svg class="w-full text-primary-base transform -rotate-90" viewbox="0 0 140 140">
        <%else%>
      <svg class="w-full text-primary-base transform -rotate-180" viewbox="0 0 140 140">
        <%end%>
        <linearGradient id="circle-gradient-5" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" stop-color="#054A29" />
          <stop offset="100%" stop-color="#2A9134" />
        </linearGradient>
        <circle cx="70" cy="70" r="64" stroke="#DEDACA" stroke-width="10" fill="none">
        </circle>
        <circle stroke="url(#circle-gradient-5)" cx="70" cy="70" r="64"
          stroke-width="10" fill="none" stroke-linecap="round" stroke-dasharray="400"
          stroke-dashoffset="<%=@animal.Co2Emitted.round(3)*400%>">
        </circle>
      </svg>
      <h5 class="absolute w-full h-full flex items-center justify-center text-2xl z-10 top-0 left-0 text-gray-800">
        <%= number_with_precision(@animal.Co2Emitted, precision: 3, strip_insignificant_zeros: true, delimiter: ',') %> <sub class="text-sm pl-1"></sub></h5>
    </div>
    <h4 class="mt-4 text-gray-800">Total Emission Emitted</h4>
  </div>
</li>

<li class="w-full xl:w-1/5 mb-8"id="co2sequested">
  <div class="circle-progress-box p-4">
    <div class="circle-progress relative max-w-full w-40 mx-auto">
      <svg class="w-full text-primary-base transform -rotate-90" viewbox="0 0 140 140">
        <linearGradient id="circle-gradient-6" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" stop-color="#054A29" />
          <stop offset="100%" stop-color="#2A9134" />
        </linearGradient>
        <circle cx="70" cy="70" r="64" stroke="#DEDACA" stroke-width="10" fill="none">
        </circle>
        <circle stroke="url(#circle-gradient-6)" cx="70" cy="70" r="64"
          stroke-width="10" fill="none" stroke-linecap="round" stroke-dasharray="400"
          stroke-dashoffset="<%=@animal.Co2Sequested.round(3)*400 %>">
        </circle>
      </svg>
      <h5 class="absolute w-full h-full flex items-center justify-center text-2xl z-10 top-0 left-0 text-gray-800">
        <%= number_with_precision(@animal.Co2Sequested, precision: 3, strip_insignificant_zeros: true, delimiter: ',') %> <sub class="text-sm pl-1"></sub></h5>
    </div>
    <h4 class="mt-4 text-gray-800">Carbon Sequesterd</h4>
  </div>
</li>

<li class="w-full xl:w-1/5 mb-8"id="co2total">
  <div class="circle-progress-box p-4">
    <div class="circle-progress relative max-w-full w-40 mx-auto">
      <svg class="w-full text-primary-base transform -rotate-90" viewbox="0 0 140 140">
        <linearGradient id="circle-gradient-7" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" stop-color="#003377" />
          <stop offset="100%" stop-color="#5ea1fb" />
        </linearGradient>
        <circle cx="70" cy="70" r="64" stroke="#DEDACA" stroke-width="10" fill="none">
        </circle>
        <circle stroke="url(#circle-gradient-7)" cx="70" cy="70" r="64"
          stroke-width="10" fill="none" stroke-linecap="round" stroke-dasharray="400"
          stroke-dashoffset="<%=400-@animal.Co2Total.round(3)*400 %>">
        </circle>
      </svg>
      <h5 class="absolute w-full h-full flex items-center justify-center text-2xl z-10 top-0 left-0 text-gray-800">
        <%= number_with_precision(@animal.Co2Total, precision: 3, strip_insignificant_zeros: true, delimiter: ',') %> <sub class="text-sm pl-1"></sub></h5>
    </div>
    <h4 class="mt-4 text-gray-800">Carbon Total</h4>
  </div>
</li>
    </div>
       
      </div>
    </div>
  </div>
</section>

<section class="ft-sc ft-sc-why px-5 py-8 md:py-10 lg:py-16 xl:py-20 overflow-hidden">
  <div class="container mx-auto">
    <h2 class="text-gray-800 font-extrabold text-3xl md:text-4xl text-center">Why does this matter?</h2>
    <div class="flex flex-wrap items-center mt-8 -mx-4">
      <div class="w-full lg:w-1/2 px-4 lg:pr-16">
        <h3 class="text-gray-800 mb-4 text-2xl">Transparency is key</h3>
        <p class="mb-4">FarmTracer only works with farms that are willing to share it all. See the full picture before you decide what produce to buy.</p>
        <p class="mb-4">Raising animals in the most stress free environment possible allows their incredible genetics to do what they were made to do. When you see the FarmTracer label, you know you’re getting top quality and transparency:</p>
        <ul class="list-disc ml-4">
          <li class="mb-2"><span class="font-semibold">Traceability.</span> Track your produce and see how it was raised or grown.</li>
          <li class="mb-2"><span class="font-semibold">Trust.</span> A FarmTracer label means complete transparency.</li>
          <li class="mb-2"><span class="font-semibold">Quality.</span> Responsibly grown food, always utilizing best practices.</li>
          <li class="mb-2"><span class="font-semibold">Local.</span> Simplified supply chains mean you get the highest quality food.</li>
          <li class="mb-2"><span class="font-semibold">Certified.</span> Top-quality farmers who will share their processes with you.</li>
        </ul>
      </div>
      <div class="w-full lg:w-1/2 px-4 mt-8 lg:mt-0">
        <%= image_tag('img-why-does-this-matter.jpg', alt: '')  %>
      </div>
    </div>
  </div>
</section>

<section class="ft-sc ft-sc-products px-5 py-8 md:py-10 lg:py-16 xl:py-20 bg-addition overflow-hidden">
  <div class="container mx-auto">
    <h2 class="text-gray-800 font-extrabold text-3xl md:text-4xl text-center">Discover more FarmTracer certified products</h2>
    <ul class="flex flex-wrap mt-8 -my-4">
      <li class="mb-6 w-full sm:w-1/2 lg:w-1/4 px-4">
        <div class="bg-white p-4 relative h-full flex items-center justify-center">
          <%= image_tag('product-img-01.png', alt: '', class: "max-w-full mx-auto")  %>
          <%= image_tag('badge.svg', alt: '', class: "absolute bottom-0 right-0 m-3 w-16")  %>
        </div>
      </li>
      <li class="mb-6 w-full sm:w-1/2 lg:w-1/4 px-4">
        <div class="bg-white p-4 relative h-full flex items-center justify-center">
          <%= image_tag('product-img-02.png', alt: '', class: "max-w-full mx-auto")  %>
          <%= image_tag('badge.svg', alt: '', class: "absolute bottom-0 right-0 m-3 w-16")  %>
        </div>
      </li>
      <li class="mb-6 w-full sm:w-1/2 lg:w-1/4 px-4">
        <div class="bg-white p-4 relative h-full flex items-center justify-center">
          <%= image_tag('product-img-03.png', alt: '', class: "max-w-full mx-auto")  %>
          <%= image_tag('badge.svg', alt: '', class: "absolute bottom-0 right-0 m-3 w-16")  %>
        </div>
      </li>
      <li class="mb-6 w-full sm:w-1/2 lg:w-1/4 px-4">
        <div class="bg-white p-4 relative h-full flex items-center justify-center">
          <%= image_tag('product-img-04.png', alt: '', class: "max-w-full mx-auto")  %>
          <%= image_tag('badge.svg', alt: '', class: "absolute bottom-0 right-0 m-3 w-16")  %>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="ft-sc ft-sc-contact px-5">
  <div class="container mx-auto border-b border-gray-500 border-opacity-50 py-8 md:py-10 lg:py-16">
    <div class="flex flex-wrap mx-auto max-w-screen-md">
      <div class="w-full md:w-1/3 text-center md:text-right">
        <%= image_tag('badge-farmtracer-certified.svg', alt: '', class: "inline-block w-40 md:w-auto")  %>
      </div>
      <div class="w-full md:w-2/3 md:pl-10 text-center md:text-left">
        <p class="text-primary-base uppercase font-display">Contact</p>
        <h2 class="text-gray-800 font-extrabold text-3xl md:text-4xl leading-tight mb-3">Interested in becoming <br> FarmTracer certified?</h2>
        <p class="mb-5">Join our list of partners that are doing farming right. </p>
        <a href="https://form.jotform.com/211447337080148" class="bg-secondary text-white px-8 py-3 md:px-10 md:py-4 rounded-full inline-block font-display hover:bg-primary-base transition duration-500 ease-in-out">Become Certified</a>
      </div>
    </div>
  </div>
</section>

<section id="certified_partners" class="ft-sc ft-sc-contact px-5">
   <div class="container mx-auto border-b border-gray-500 border-opacity-50 py-8 md:py-10 lg:py-16">
      <p class=" text-sm mt-2 text-black uppercase font-bold text-2xl text-center">Certified Partners</p>
      <ul class="mx-auto max-w-screen-lg mt-12 flex flex-wrap">
        <li class="flex w-full md:w-1/2 mb-8 pl-15 justify-center" id="blacklogo">
          <div class="icon-holder">
          <%= image_tag('taylorgreen.jpg')  %>
          </div>
        </li>
        <li class="flex w-full md:w-1/2 mb-8 py-24 justify-center" id="blacklogo">
          <div class="icon-holder md:object-scale-down">
          <%= image_tag('blacklogo.jpg',:size => "260x180")  %>
          </div>
        </li>
      </ul>
   </div>
</section>

<div
  data-controller="modal"
  class="vimeo-modal z-50 modal fixed w-full h-full top-0 left-0 overflow-y-auto scrolling-touch hidden">
  <div data-action="click->modal#close" class="modal-overlay fixed w-full h-full top-0 left-0 z-0 bg-black opacity-50"></div>
  <div class="flex relative md:p-10 py-10 mx-auto w-full lg:w-1/3 max-w-full z-10">
    <div class="bg-white rounded-xl flex-1 p-8">
      <div style="padding:100% 0 0 0;position:relative;">
        <iframe src="https://player.vimeo.com/video/483084891?title=0&byline=0&portrait=0&muted=1&autoplay=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen data-target="modal.video"></iframe>
      </div>
      <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
    <i data-action="click->modal#close" class="fas fa-times hidden sm:block ml-4 text-3xl text-white cursor-pointer"></i>
  </div>
</div>
