<footer class="ft-footer py-10">
  <div class="container mx-auto">
    <div class="text-center">
       <p><a href="mailto:contact@farmtracer.com">shaina@farmtracer.com</a> | (509) 899-7646<br>P.O. Box 85 Royal City, Washington 99357</p> 
      <div class="flex justify-center mt-4">
        <a href="" class="w-6 h-6 block m-2 opacity-50 hover:opacity-100 transition-all duration-300">
        <%= image_tag('facebook-f-brands.svg',:alt=>"",:class =>"max-h-full mx-auto")  %>
        </a>
        <a href="" class="w-6 h-6 block m-2 opacity-50 hover:opacity-100 transition-all duration-300">
        <%= image_tag('linkedin-in-brands.svg',:alt=>"",:class =>"max-h-full mx-auto")  %>
        </a>
        <a href="" class="w-6 h-6 block m-2 opacity-50 hover:opacity-100 transition-all duration-300">
        <%= image_tag('twitter-brands.svg',:alt=>"",:class =>"max-h-full mx-auto")  %>
        </a>
        <a href="" class="w-6 h-6 block m-2 opacity-50 hover:opacity-100 transition-all duration-300">
        <%= image_tag('instagram-brands.svg',:alt=>"",:class =>"max-h-full mx-auto")  %>
        </a>
      </div>
    </div>
  </div>
  <div
    class="px-5 lg:px-8 xl:px-12 py-3 flex flex-wrap items-center text-center sm:justify-between mt-5 md:mt-8">
    <div class="w-full sm:w-auto">© <%= Time.zone.now.year %> FarmTracer</div>
    <div class="w-full sm:w-auto">Website by <a href="https://embrk.com/">embrk</a>.</div>
  </div>
</footer>
<style>
  html {
  scroll-behavior: smooth;
}
</style>
<script>


  // TODO: Move this to the correct rails way to do this
  mobileNavigation = document.getElementById('mobileNavigation');
  mobileNavigationOpen = document.getElementById('mobileNavigationButton');
  mobileNavigationClose = document.getElementById('mobileNavigationClose');

  mobileNavigationOpen.addEventListener("click", function () {
  mobileNavigation.classList.add('is-open');
  });

  mobileNavigationClose.addEventListener("click", function () {
  mobileNavigation.classList.remove('is-open');
  });
</script>
