<header class="ft-header">
  <div class="px-5 py-3 lg:px-8 xl:px-12 flex items-center justify-between">
    <%= link_to home_index_url class: 'flex-shrink-0' do %>
      <%= image_tag('logo-with-text.svg', class: 'Farmtracer Logo')  %>
    <% end %>
    <nav class="ft-top-nav">
      <button id="mobileNavigationButton"
        class="w-8 border-none outline-none bg-none xl:hidden group focus:outline-none">
        <span class="h-1 w-full bg-gray-800 block my-2 group-hover:bg-primary-base"></span>
        <span class="h-1 w-full bg-gray-800 block my-2 group-hover:bg-primary-base"></span>
      </button>
      <ul id="mobileNavigation"
        class="main-navigation flex items-center transition-all duration-500 ease-linear">
        <li class="xl:hidden">
          <button id="mobileNavigationClose"
            class="w-8 h-8 border-none outline-none bg-none absolute top-0 right-0 mt-4 mr-4 group focus:outline-none">
            <span
              class="h-1 w-full bg-gray-800 absolute top-1/2 left-0 group-hover:bg-primary-base transform rotate-45 origin-center"></span>
            <span
              class="h-1 w-full bg-gray-800 absolute top-1/2 left-0 group-hover:bg-primary-base transform -rotate-45 origin-center"></span>
          </button>
        </li>
        <li class="px-3 py-2 xl:px-4 xl:py-0">
          <%= link_to 'How it works', home_index_url(anchor: 'how_it_works'), class: 'font-display font-medium text-primary-dark hover:text-primary-base text-2xl xl:text-lg' %>
        </li>
        <li class="px-3 py-2 xl:px-4 xl:py-0">
          <%= link_to 'Why FarmTracer', home_index_url(anchor: 'why_farm_tracer'), class: 'font-display font-medium text-primary-dark hover:text-primary-base text-2xl xl:text-lg' %>
        </li>
        <!-- <li class="px-3 py-2 xl:px-4 xl:py-0">
          <%= link_to 'Meet our farms', home_index_url, class: 'font-display font-medium text-primary-dark hover:text-primary-base text-2xl xl:text-lg' %>
        </li> -->
        <li class="px-3 py-2 xl:px-4 xl:py-0">
          <%= link_to 'About', home_index_url(anchor: 'about'), class: 'font-display font-medium text-primary-dark hover:text-primary-base text-2xl xl:text-lg' %>
        </li>
         <li class="px-3 py-2 xl:px-4 xl:py-0">
          <%= link_to 'Team', home_index_url(anchor: 'get_know_team'), class: 'font-display font-medium text-primary-dark hover:text-primary-base text-2xl xl:text-lg' %>
        </li>
        <li class="px-3 py-2 xl:px-4 xl:py-0">
          <%= link_to 'Contact', home_index_url(anchor: 'contact'), class: 'font-display font-medium text-primary-dark hover:text-primary-base text-2xl xl:text-lg' %>
        </li>
        <li class="px-3 py-2 xl:px-4 xl:py-0 hidden xl:inline-block">
          <span>|</span>
        </li>
        <li class="px-3 py-2 xl:px-4 xl:py-0">
          <%= link_to 'Become Certified', home_index_url(anchor: 'contact'), class: 'font-display font-medium text-primary-dark hover:text-primary-base text-2xl xl:text-lg' %>
        </li>
      </ul>
    </nav>
  </div>
</header>
